
body{
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: rgb(25, 24, 24);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: black;
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/backgrounsite.jpeg");
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}

.cabecalio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(207, 207, 207);
    width: 97%;
    height: 8vh;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
.menu{
    margin-left: 20px;
    margin-right: 20px;
}
.menu svg{
    width: 50px;
    height: 70px;
}
.menu button{
    cursor: pointer;
    border: none;
    background: none;
}
.notnomperf{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nomeUsuario{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px;
}
.notificacao svg{
    width: 30px;
    height: 70px;
}

button.perfilUser {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
}
/* Estilo da imagem de perfil */
.profilepicture {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

/* Estilo do label */
.nomeUsuario {
    margin-right: 8px;
}

/* Estilo do ícone SVG */
.profilepicture svg {
    width: 40px;
    height: 40px;
}

.menuLateral{
    display: none;
}

.projetos {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 20px;
    border-radius: 50px;
    height: 100%;
    width: 96%;
    padding: 10px;
}
.calendario {
    width: 500px;
    height: 250px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.calendario .header {
    text-align: center;
    font-weight: bold;
}

.calendario .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 10px;
}

.calendario .day {
    text-align: center;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.day {
    text-align: center;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.today {
    background-color: #b3e0ff;
    font-weight: bold;
}

.calendario_Botoes img {
    border: 3px solid black;
    border-radius: 15px;
    width: 250px;
    height: 250px;
}

.calendario_Botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.categorias {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categorias button {
    width: 530px;
    height: 50px;
    background-color: white;
    border-radius: 15px;
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 15px;
    font-size: 20px;
}

.tarefas_Botoes {
    display: flex;
    flex-direction: column;
}

.tarefasCriadas {
    height: 60vh;
    width: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    border: 2px solid black;
    overflow: auto;
}
.tarefas {
    color: white;
    background-color: crimson;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 15px;
    height: 100px;
    padding: 10px;
    border-radius: 20px;
}


.tarefas_Botoes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaoCriaTarefa{
    background-color: rgb(95, 216, 216);
    width: 150px;
    height: 60px;
    border: 3px solid black;
    border-radius: 15px;
    font-size: 20px;
    margin-top: 5px;
}



/*Responsividade*/
@media (max-width: 800px) {

.notnomperf,
.dataeHora,
.profilepicture,
.notificacao,
.menuLateral {
    display: none;
}

.cabecalio{
    width: 92%;
    margin-right: 30px;
    margin-left: 30px;
}
    .menuLateral{
        margin-top: 10px;
        position: fixed;
        top: 0;
        left: 10px;
        width: 400px;
        height: 99%;
        background-color:rgb(207, 207, 207);;
        border: 8px solid #808080;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding-top: 20px;
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .menuLateral div{
        padding: 0;
        margin: 0;
        display: flex;
        font-size: 20px;
        align-items: center;
    }
    .menuLateral div svg{
        width: 35px;
        height: 50px;
        padding: 0;
        margin: 0;
    }
    .menuLateral div label{
        margin-left: 15px;
    }

    .menuLateral .returnTelaPrincipal .menu{
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }

.projetos {
    width: 92%;
    margin-left: 20px;
}

.calendario {
    margin-top: 30px;
    width: 400px;
    height: 250px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    font-family: Arial, sans-serif;
}


.categorias button {
    width: 400px;
}
.projetos{
    display: flex;
    flex-direction: column;
}
.tarefasCriadas{
    width: 100%;
    padding: 10px;
    margin: 30px;
    overflow: auto;
}
.tarefas{
    width: 94%;
}
}