<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments! Login</title>
    <link rel="stylesheet" href="stylesheets/styleLogin.css">
</head>
<body>
  <h1 class="TituloSite">Seja bem-vindo(a)!</h1>
  <section class="login">
    <form class="LoginInputs" action="/login" method="post" onsubmit="verificaInputs(this)">
      <h1 class="textoBoasVindasLog">Nos visitando novamente?</h1>
      <hr class="linha">
      <h2 class="textoBoasVindasLog2">Faça seu login:</h2>
      <input type="text" placeholder="E-mail:" class="input_email"  id="input_email" name="emailLogin">
      <section class="senha">
        <input type="password" placeholder="Senha: " class="input_senha"  id="input_senha" name="senhaLogin">
        <button class="revelaSenha" id="RevelarSenhaButton">
          <svg xmlns="http://www.w3.org/2000/svg" id="Iconezoio" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
          </svg>
        </button>
      </section>
      <button class="botaoLogin" id="botaoLogin">Vamos Começar!</button>
    </form>
    <div class="cadastro">
      <h2 class="textoBoasVindas">É sua primeira vez aqui?<br></h2>
      <h2 class="textoBoasVindas2">Faça um cadastro!</h2></h2>
      <a class="botaoCadastroLink" href="/Cadastro"><button class="botaoCadastro" id="botaoCadastro">Cadastrar-se</button></a>
    </div>
  </section>
  <script src="/javascripts/JavitoLogin.js"></script>
</body>
</html>
